/*!
 * Token input style
 */
ul {
	&.token-input-list {
		overflow: hidden;
		height: auto !important;
		height: 1%;
		width: 90%;
		border: 1px solid #999;
		cursor: text;
		font-size: 12px;
		font-family: Verdana, sans-serif;
		z-index: 999;
		margin: 0;
		padding: 0;
		background-color: #fff;
		list-style-type: none;
		clear: left;
		li {
			list-style-type: none;
			input {
				border: 0;
				width: 350px;
				padding: 3px 8px;
				background-color: #fff;
				-webkit-appearance: caret;
			}
		}
	}
	&.token-input-disabled {
		background-color: #e8e8e8;
		li {
			input {
				background-color: #e8e8e8;
			}
			&.token-input-token {
				background-color: #d9e3ca;
				color: #7d7d7d;
				span {
					color: #cfcfcf;
					cursor: default;
				}
			}
		}
	}
}

li {
	&.token-input-token {
		overflow: hidden;
		height: auto !important;
		height: 1%;
		margin: 3px;
		padding: 3px 5px;
		background-color: #d0efa0;
		color: #000;
		font-weight: 700;
		cursor: default;
		display: block;
		p {
			float: left;
			padding: 0;
			margin: 0;
		}
		span {
			float: right;
			color: #777;
			cursor: pointer;
		}
	}
	&.token-input-selected-token {
		background-color: #08844e;
		color: #fff;
		span {
			color: #bbb;
		}
	}
}

div.token-input-dropdown {
	position: absolute;
	width: 400px;
	background-color: #fff;
	overflow: hidden;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	cursor: default;
	font-size: 12px;
	font-family: Verdana, sans-serif;
	z-index: 1;
	p {
		margin: 0;
		padding: 5px;
		font-weight: 700;
		color: #777;
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			background-color: #fff;
			padding: 3px;
			list-style-type: none;
			&.token-input-dropdown-item {
				background-color: #fafafa;
			}
			&.token-input-dropdown-item2 {
				background-color: #fff;
			}
			em {
				font-weight: 700;
				font-style: normal;
			}
			&.token-input-selected-dropdown-item {
				background-color: #d0efa0;
			}
		}
	}
}
